<div class="wrapper">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a routerLink="/">
          <img src="/assets/giphy-logo.gif" width="200px" />
        </a>
      </div>

      <div class="nav__items">
        <a routerLink="/gifs/upload" routerLinkActive="active">Upload</a>
        <a routerLink="/gifs/favorites" routerLinkActive="active">Favorites</a>
      </div>
    </nav>

    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
